

#row-1{
    text-align: center;
}
.nav-brand h4{
color: white;
}
.card{
    width: 25rem;
    text-align: center;
    margin-top: 40px;
    height: 440px;
    margin-left: 70px;
    
}
.card-title{
    margin-top: 30px;
}
form #date{
    margin-top: 10px;
    font-size: 20px;
}
form #male{
    margin-top: 30px;
    font-size: 20px;
}
form #female{
    margin-top: 30px;
}
form p{
    margin-top: 20px;
}
form button{
    margin-top: 10px;
}
form img{
    margin-top: 10px;
    width: 50px;
}
button:hover{
    color: #f7fd04;
}
#col-2 img{
    width: 400px;
    
}
