@media screen and (min-width:568px) {

}

.navbar{
    background-color: #f7fd04;
}
.card{
    text-align: center;
    margin-top: 50px;
    height: 400px;
    margin-left: 20px;
}
.card-title{
    margin-top: 50px;
}
form #date{
    margin-top: 10px;
    font-size: 20px;
}
form #male{
    margin-top: 30px;
    font-size: 20px;
}
form #female{
    margin-top: 30px;
}
form p{
    margin-top: 20px;
}
form button{
    margin-top: 20px;
}